body{
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #000000, #1a1a2e, #16213e, #0f3460);



  margin: 0;
  padding: 0;
  
}

.gallery{
display:grid;
grid-template-columns:repeat(3,300px); 
gap:50px;
justify-content:center;
margin-top:100px;
}

.artwork{
  
  background: #1c1c1c;              
  border: 1px solid #00f0ff;        
  box-shadow: 0 0 20px #00f0ff;     
  border-radius: 12px;
  padding: 20px;
  color: #ffffff;                  
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; 
}


.artwork:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}


.artwork.liked-box {
  border: 3px solid #eb2b3b;
}

.artwork img{
  width:100%;
  border-radius:8px;
  transition: transform 0.3s ease; 
}


.artwork:hover img {
  transform: scale(1.05);
}

.icons{
  display:flex;
  justify-content:center;
  gap:10px;
  font-size:20px;
}

.heart{
  cursor:pointer;
  color:gray;
}

.heart.liked{
  color:red;
}

.comments-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments-list li{
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(6px);
  padding:6px;
  margin-top:5px;
  border-radius:6px;
  font-size:13px;
}

button{
  margin-top:5px;
  background:#7154f3;
  border:none;
  color:white;
  padding:5px 12px;
  border-radius:4px;
  cursor:pointer;
}

.quote{
  font-size:14px;
  margin:5px 0;
  font-style: italic;
}